*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

}
a{
	text-decoration: none;
}

header{
	border-bottom: 1px solid #eee;
	height: 56px;
}
.header-container{
	max-width: 1440px;
	margin: 0 auto;
}
header .jianshu-logo{
	width: 100px;
	height: 56px;
}
header .header-middle{
	margin-left:140px;
	display: inline-block;
	vertical-align: top;
}
header .header-middle >a{
	padding:15px;
	height: 56px;
	line-height: 56px;
	font-size: 17px;
}

header .header-middle .home-page{
	color: #ea6f5a;
}
header .header-middle .download{
	color: #333;
	transition: all .2s ease;
}
header .header-middle .download:hover{
	/*width: 100px;
	height: 56px;
	border:none;*/
	background-color:#f5f5f5;
}
header .header-search{
	position:relative;
	display: inline-block;
	height: 56px;
	padding-top: 8px;
	vertical-align: top;
	margin-left: 25px;
}
header .header-search .icno{
	position: absolute;
	right: 10px;
	width: 17px;
	height: 17px;
	top: 50%;
	background: #333;
	border-radius: 50%;
	transform: translateY(-50%);

}
header .input-search{
	display:inline-block;
	width: 160px;
	height: 40px;
	border:1px solid #eee;
	border-radius: 40px;
	outline: none;
	padding-left: 20px;
	padding-right: 40px;
	background:#eee;
}

header .header-right{
	float: right;
	height: 56px;
}
header .header-right .login{
	line-height: 56px;
	font-size: 15px;
	color: #969696;
	margin-right: 24px;
}
header .header-right .sign{
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 38px;
	line-height: 38px;
	margin:9px 5px 0 15px;
	border:1px solid #ec6149;
	border-radius: 20px;
	font-size:15px;
	text-align: center;
	color: #969696;
}
header .header-right .sign:hover{
	background-color:rgba(236,97,73,0.05);
	color: #ec6149; 
}
header .header-right .write{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin: 8px 15px 0;
	border-radius: 20px;
	font-size: 15px;
	color: #fff;
	background-color: #ea6f5a;
}
header .header-right .write:hover{
	background-color: #ec6149;

}
.main-container{
	width: 960px;
	margin: 0 auto;
	padding-top:30px;
}
.artical-section{
  display: inline-block;
	width: 640px;
	padding-right: 0px;
	padding-left: 15px;
}
/*.left-container .banner{
	display: inline-block;
	width: 625px;
	height: 270px;
}
.left-container .banner .picture-one{
	width: 625px;
	height: 270px;
	border-radius: 20px;
}
.recommed-nav{
display: inline-block;
}
.recommed-nav li{
	height: 34px;
	border-radius: 5px;
	list-style:none;
	display: inline-block;
	background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
}
.recommed-nav img{
	width: 32px;
	height: 32px;
	display: inline-block;
}
.recommed-nav p{
	display: inline-block;
	font-size: 14px;
 margin-left: 10px;
 margin-right: 10px;
 vertical-align: top;
margin-top: 7px;
color: #333;
}
*/
.artical-section .banner-section{
	width: 625px;
	height: 270px;
}
.artical-section .banner-section img{
	width: 625px;
	height: 270px;
	border-radius: 20px;
}
.artical-section .classification-section{
	display:inline-block;
	margin-top:20px;
}
.classification-section .classification-item{
	/*display: block;
	border:1px solid #dcdcdc;
	border-radius: 4px;
	color: #333;
	background-color: #f7f7f7;
	overflow: hidden;
	padding-right: 10px;
	margin: 10px 20px 10px 0;
	vertical-align: middle;*/
	display: inline-block;
	vertical-align: top;
  margin: 0 18px 18px 0;
  min-height: 32px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  overflow: hidden;
}
.classification-section .classification-item img{
	width: 32px;
	height: 32px;
	border: 0;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 10px;
}
.classification-item .jianshu-moves{
	display: inline-block;
	padding:0 11px 0 6px;
	font-size: 14px;
	color: #333;
}
.classification-item .stroy{
	display: inline-block;
	padding:0 11px 0 6px;
	font-size: 14px;
	color: #333;
}
.classification-item .hand-painted{
	display: inline-block;
	padding:0 11px 0 6px;
	font-size: 14px;
	color: #333;
}
.classification-item .travel{
	display: inline-block;
	padding:0 11px 0 6px;
	font-size: 14px;
	color: #333;
}
.classification-item .reading{
	display: inline-block;
	padding:0 11px 0 6px;
	font-size: 14px;
	color: #333;
}
.classification-item .photograph{
	display: inline-block;
	padding:0 11px 0 6px;
	font-size: 14px;
	color: #333;
}
.classification-item .internet{
	display: inline-block;
	padding:0 11px 0 6px;
	font-size: 14px;
	color: #333;
}

.classification-section .classification-item-more{
	display: inline-block;
	vertical-align: middle;
  margin-top: 7px;
  font-size: 14px;
  color: #787878;
}
.scrap-section .scrap-list{
	position: relative;
	border-top:1px solid #f0f0f0;
	margin-top: 20px;
}
.scrap-section .scrap-list .cover{
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -44px;
	width: 125px;
	height: 100px;
	border-radius: 4px;
	background: #fff;
}
.scrap-detail{
	margin-right: 160px;
}
.scrap-detail .scrap-title{
	display: block;
	margin-top: 20px;
	color: #333;
}
.scrap-detail .scrap-title h2{
	font-size: 20px;
}
.scrap-section .scrap-list .cover img{
	width: 125px;
	height: 100px;
}
.scrap-section .scrap-list .scrap-foot{
	margin-top: 10px;
	font-size: 12px;
}
.scrap-foot .scrap-username{
	color: #999;
}
.scrap-foot .scrap-username:hover{
  color: #333;
}
.scrap-foot span{
	color: #999;
}
.scrap-foot .iconfont{
	margin-left: 10px;
}
.scrap-section .scrap-more{
	height: 40px;
	padding:10px 15px;
	margin:30px auto 60px;
	font-size: 15px;
	text-align: center;
	background-color: #a5a5a5;
	border-radius: 20px;

}
.scrap-section .scrap-more .more-reading{
	color: #fff;

}
.scrap-section .scrap-more .more-reading:hover{
	background-color: #9b9b9b;
}
.artical-section .foot-section{
	height: 89px;
}
.foot-section .foot-one a{
 	color:#969696;
 	font-size: 13px;
 }
 .foot-one a:hover{
 	color: #2f2f2f;
 }
 .foot-section .foot-two{
 	margin-top: 10px;
 	font-size: 12px;
 	color: #c8c8c8;
 }
 .foot-two .number:hover{
 	color:#2f2f2f; 
 }
.foot-section .foot-two .name-validation{
	width: 60px;
	height: 30px;
  right:-41px;
	top:-11px;
	vertical-align: middle;
}
.foot-two a{
	color: #c8c8c8;
}
.foot-two .mail{
	width: 60px;
	height: 30px;
	vertical-align: middle;
}
.foot-two .business-licence{
	width: 26px;
	height: 30px;
	vertical-align: middle;
}

.aside-section{
	display: inline-block;	
	vertical-align: top;
	width: 219px;
	height: 900px;

	margin-left:35px;
}
.aside-section .panels-section{
	width: 219px;
}
.aside-section .panels-section img{
	width: 219px;
	height: 39px;
	margin-bottom:6px;
  border-radius:4px;
}
.download-section{
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	border:1px solid #f0f0f0;
	border-radius: 6px;
	padding:10px 20px;
	background-color: #fff;
	
}
.download-section img{
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}
.download-section h3{
	margin-left: 60px;
	font-size: 14px;
	color: #333;
	margin-top: -40px;
}
.download-section p{
	margin-left:60px;
	margin-top: 4px;
	font-size: 10px;
	color: #999;
}
.recommand-section{
	margin-top: 30px;
	width: 218px;
}
.recommand-section h3{
	color: #999;
	font-size: 14px;
}
.recommand-section h3 .change{
	font-size: 14px;
	color: #999;
	margin-left:115px;
}
.recommand-section ul li{
	list-style:none;
}
.recommand-item{
	margin-top: 15px;
	height: 47px;
}
.recommand-section .recommand-item .avatar{
	float: left;
	width: 50px;
	height: 50px;
}
.recommand-section .recommand-item .avatar img{
	width: 50px;
	height: 50px;
	border:1px solid #ececec;
	border-radius: 50%;
}
.recommand-section .recommand-item .username{
	display: block;
	color: #333;
	font-size: 12px;
	padding-top: 5px;
	margin-left: 60px;
}
.recommand-item .writing{
	font-size: 10px;
	color: #969696;
	margin-top: 2px;
	margin-left: 60px;
}
.recommand-section .recommand-item .notice{
	float: right;
	color: #42c02e;
  margin-top: -39px;
  font-size: 13px;
}
.recommand-section .more{
	display: block;
	width: 218px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	text-align: center;
	margin-top: 20px;
	border:1px solid #ccc;
	border-radius: 4px;
	color: #999;
	background-color: #f7f7f7;
}
