*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

}
a{
	text-decoration: none;
}
header{
border-bottom: 1px solid #eee;
height: 56px;
line-height: 56px;
box-sizing: border-box;
}
.logo{
width: 100px;
height: 56px;


}

